.gdpr-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*   align-items: center; */
  max-width: 500px;
  min-height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 1010;
  background-color: #ccc !important;
  left: 50%;
  transform: translateX(-50%);
}

.gdpr-inner {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  justify-content: space-between;
  align-items: center;
  /*  width: 100%; */

  max-width: var(--maxwidthcontent);
  padding: 20px 0px;
  border: 1px solid black;

  border-right: 1px solid black;
  padding: 5px;
}

.gdpr-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gdpr-text {
  max-width: calc(var(--maxwidthcontent) - 100px);
}

.button1 {
  background-color: var(--backgrounddark) !important;
  color: var(--textcolorDarkMode) !important;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 464px) {
  .gdpr-buttons {
  }
  .gdpr-inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
