@layer buttons {
  button {
    display: inline-block;
    cursor: pointer;
  }
  .button {
    padding: 4px 7px;
    font-size: 16px;
    font-weight: 00;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: var(--primary-color);
    font-family: PoppinsSemiBold !important;
    align-self: flex-start;
  }
  .button-wide {
    width: 100%;
  }
  .button-thick {
    padding: 10px 20px;
  }
  /* Primary button */
  .button-primary {
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: var(--primary-color);
    padding: 5px 25px;
    font-size: 16px;
    border-radius: 5px;
  }
  .button-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .button-primary:active {
    background-color: #004494;
    border-color: #004494;
  }
  /* Secondary button */
  .button-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
  }
  .button-secondary:hover {
    background-color: #545b62;
    border-color: #545b62;
  }
  .button-secondary:active {
    background-color: #3e444a;
    border-color: #3e444a;
  }
  /* Outline button */
  .button-outline {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .button-thin {
    border: 1px solid var(--primary-color);
  }
  .button-gray {
    color: #6c757d !important;
    border-color: #6c757d !important;
  }
  .button-gray-filled {
    background-color: #6c757d;
    color: #ffffff !important;
  }
  .button-gray:hover {
    background-color: #6c757d !important;
    color: #fff !important;
  }

  .button-narrow {
    padding: 2px 5px;
    border: 1px solid var(--primary-color);
    font-weight: 0;
    font-family: Poppins !important;
  }
  .button-noborder {
    border: none;
  }
  .button-outline:hover {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  .button-outline:active {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  /* Disabled button */
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .button-danger {
    background-color: #dc3545;
    color: #ffffff;
    border-color: #dc3545;
  }

  .gray {
    border-color: #d1d5db;
    color: gray;
  }
}
