.dashboard {
  display: grid;
  place-self: center;
  max-width: 1200px;
  color: white;

  .dashboardcard {
    box-shadow: 0 2px 6px gray;
    padding: 10px;
    border-radius: 10px;
  }
}

a {
  color: white;
  /*  text-decoration: none; */
}
