.lessoncardFlex {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 750px;
}
